@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    background: #222831; 
    font-family: 'Montserrat', sans-serif;
    color: #eeeeee; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    margin-top: 60px;
}

h1 {
    font-family: 'El Messiri', sans-serif;
    margin-top: 30px;
}

h2 {
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    font-family: 'El Messiri', sans-serif;
    color: #ff5722;
}

p { 
    margin: 20px 0;
}

p strong { 
    color: #ff5722;
    font-size: 20px;
}

a {
    color: #eeeeee;
    text-decoration: none;
}

a:hover {
    color: #ff5722; 
    text-decoration: none;
}

button {
    padding: 10px 15px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    border: none;
    transition: 200ms all ease-in-out;
}

button:hover {
    border-radius: 10px;
    box-shadow: none;
    color: #ff5722; 
    opacity: 0.7;
}